project_proposal.aux
project_proposal.bbl
project_proposal.blg
project_proposal.fdb_latexmk
project_proposal.fls
project_proposal.log
pdflatex*.fls
project_proposal.synctex.gz
.DS_Store
3B43_rainfall.zip
3B43_rainfall
__pycache__
project_report.aux
project_report.bbl
project_report.blg
project_report.fdb_latexmk
project_report.fls
project_report.log
